{% extends 'layout.twig' %}

{% block body %}
    <div class="shortener">
        <div class="content">
            <h1>{{ h1_brand }}</h1>
            <div class="input-container">
                {% block minifier %}{% endblock %}
                <div class="tagline">All kuuu.ga URLs are deleted after one year of inactivity</div>
            </div>
        </div>
    </div>
    <div class="advertisement">
        <div class="shorten">

        </div>
        <div class="anonyme">

        </div>
        <div class="online">

        </div>
    </div>
{% endblock %}
