<!DOCTYPE html>
<html>
<head>
    <title>KuuuGa URL Shortener {{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Product+Sans' rel='stylesheet' type='text/css'>

    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script>
        function onSubmit(token) {
            document.getElementById("minifying-form").submit();
        }
    </script>
</head>
<body>

<header>
    <div class="logo">
        <div class="text">
            <span class="kuuuga">KuuuGa</span> &nbsp; <span class="normal">URL Shortener</span></div>
    </div>
</header>

<main>
    {% block body %}{% endblock %}
</main>

</body>
</html>
