{% extends 'index.twig' %}

{% block minifier %}
    <form action="/minified!" method="post">
        <input placeholder="Your original URL here" type="url" required name="uri">
        <button type="submit">Shorten URL</button>
    </form>
{% endblock %}